.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-width: 320px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px; 
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 
              0px 24px 38px 3px rgba(0,0,0,0.14), 
              0px 9px 46px 8px rgba(0,0,0,0.12);
  padding: 32px; 
  max-height: 200vh; 
  overflow-y: auto;
}

.modal-container .ant-modal-title {
  color: rgb(12, 59, 178);
  font-weight: bold;
  text-align: center;
}

.userForm {
  .MuiCardHeader-root {
    background-color: #1976D2;
    color: white;
    text-align: center;
    padding: 13px;
  }

  .MuiTextField-root {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .MuiButton-root {
    margin-right: 10px;
  }
}

.form-buttons {
  margin-top: 30px;
  float: right;
  margin-right: -10px;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  margin-top:-10px !important;
  font-size: 12px;
  display: block;
}

.dataGrid {
  width: fit-content;
}

.tableContainer {
  max-width: 670px;
  margin: auto;
} 

.homePageContainer {
  height: 93vh;
  background: #F5F6FA;
  margin: 20px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  float: right;
}

.MuiDataGrid-columnHeader, .MuiDataGrid-filler {
  background: linear-gradient(3deg, #00000014, transparent) !important;
}

.MuiDataGrid-columnHeaderTitle {
  color: #000 !important;
  font-weight: 700 !important;
}
